<div class="sidebar" [class.open]="isOpen">
  <div class="sidebar-content">
    <div class="top-section">
      @for ( column of hiddenColumns; track column) {
      <div class="hidden" (dblclick)="toggleColumn(column)">
        {{ column }}
      </div>
      }
    </div>
    <hr />
    <div class="bottom-section">
      @for ( column of visibleColumns; track column) {
      <div class="visible" (dblclick)="toggleColumn(column)">
        {{ column }}
      </div>
      }
    </div>
  </div>
  <button class="open-btn" (click)="toggleSidebar()">
    {{ isOpen ? "Close" : "Open" }}
  </button>
</div>
